<!DOCTYPE html>
<html lang="en">
<head>
  <title>Polis</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Space+Grotesk&family=Space+Mono:ital@0;1&display=swap" rel="stylesheet">
  <style>
    * { font-variant-ligatures: none; }
    ::placeholder { opacity: 0.7; }
  </style>

  <style type="text/css">

    /*begin http://bl.ocks.org/jensgrubert/7789216 */
    .box {
      font: 10px sans-serif;
    }

    .box line,
    .box rect,
    .box circle {
      fill: steelblue;
      stroke: #000;
      stroke-width: 1px;
    }

    .box .center {
      stroke-dasharray: 3,3;
    }

    .box .outlier {
      fill: none;
      stroke: #000;
    }

    .axis {
      font: 12px sans-serif;
    }

    .axis path,
    .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    }

    .x.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    }
    /*end  http://bl.ocks.org/jensgrubert/7789216 */

    html, p, div, input, button {
      font-family: "Helvetica Neue", "Helvetica", sans-serif;
      font-weight: 400;
      /*color: rgb(160, 160, 179);*/
    }



        .move-left-20-for-print {
          margin-inline-start: -6.4em;
        }

  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body class="viewport">
  <% if (enableTwitterWidgets) { %>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <% } %>

  <% if (fbAppId) { %>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '<%= fbAppId %>',
          xfbml            : true,
          version          : 'v2.1'
        });
      };
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <% } %>

  <div id="root"></div>
</body>
</html>
